* {
    margin: 0;
    padding: 0;
}

.Background-image {
    background-image: url(blueimage.jpeg);
    background-size: 100% 100%;
    ;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.Dashboard-box {
    width: 50vw;
    height: 200px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 400px;
    margin-top: 5px;
    box-shadow: 10px 10px;
}

.Background-image2 {
    background-image: url(blueimage.jpeg);
    width: 100vw;
    height: 100vh;
}

.error {
    margin-top: 50px;
}


body {

    font-size: 14 px;
    font-family: 'Gabarito', sans-serif;
    font-family: 'Segoe UI', sans-serif;
}

.Container {
    width: 80%;
}

.Contact-box {
    display: flex;
    background-color: rgb(255, 255, 255);
}

.Conatct-left {
    flex-basis: 60%;
    padding: 40px 60px;
}

.Contact-right {
    flex-basis: 40%;
    padding: 40px;
    background-color: black;
    color: rgb(255, 255, 255);
}

h1 {
    margin-bottom: 10px;
}

.Container p {
    margin-bottom: 10px;
}




.input-row .input-group {
    flex-basis: 45%;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding-bottom: 5px;
}


textarea {
    width: 100%;
    border: 2px solid;
    outline: none;
    padding: 20px;
}

nav {
    background-color: black;
    color: antiquewhite;
    height: 80px;
    width: 100%;
}

.logo {
    font-size: 40px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {

    display: inline-block;
    margin-top: 20px;
    line-height: 80px;
}

nav ul li a {
    color: antiquewhite;
    font-size: 20px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active,
a:hover {
    background: rgb(3, 176, 239);
    transition: 5s;
}

.login {
    min-height: 100vh;
}

#bg-image {
    background-image: url(blueimage.jpeg);
    background-size: cover;
    background-position: center;
}

.login-heading {
    font-weight: 300;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;

}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #dee2e6;
}

th,
td {
    padding: 0.75rem;
    text-align: left;
}

th {
    background-color: #f8f9fa;
    font-weight: bold;
}